<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=pstest123storage;AccountKey=WwARvrXriwNQx7vRYoulHmkyTNjXRyVSTNK8+30Q7pZYk65kF43mZL7yxLCNPVD99r5n6hz1ovRv8sH+sMbHMg==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>